In [1]:
import pandas as pd

In [2]:
# task 1

In [3]:
def count_top3(args):
    names_by_year = list()
    for i in args:
        df = pd.read_csv('names/yob{}.txt'.format(i), names=['Name','Gender','Count'])
        names_by_year.append(df)
    
    names = pd.concat(names_by_year, names=['Year', 'Pos'])
    df = names.groupby(['Name', 'Gender'], as_index=False).sum().sort_values(by='Count', ascending=False).head(3)

    return list(df.Name)

In [4]:
count_top3([1900, 1950, 2000])

['James', 'John', 'Robert']

In [5]:
# task 2

In [6]:
def count_dynamics(args):
    cols = ['Name', 'Gender', 'Count']
    total = {'F': [], 'M': []}
    for i in args:
        df = pd.read_csv('names/yob{}.txt'.format(i), names=cols)
        df_f = df.query('Gender == "F"')
        df_m = df.query('Gender == "M"')
        total['F'].append(df_f['Count'].sum())  
        total['M'].append(df_m['Count'].sum())
    
    return total

In [7]:
count_dynamics([1900, 1950, 2000])

{'F': [299822, 1713450, 1814738], 'M': [150490, 1791474, 1962556]}