In [1]:
import pandas as pd

In [2]:
# task 1

In [3]:
def count_top3(args):
    cols = ['Name', 'Gender', 'Count']
    df = pd.read_csv('names/yob{}.txt'.format(args[0]), names=cols)
    df['Total'] = df['Count'] 
    
    n = 0
    m = 1

    for index, i in enumerate(args[1:], start=1):
        if i in args[2::2]:
            df_i = pd.read_csv('names/yob{}.txt'.format(i), names=cols)
            suff = [n, index]
            temp = pd.merge(df, df_i, on=['Name', 'Gender'], suffixes=suff)
            df = temp
            n += 1
            df['Total'] += df['Count']

        else:
            df_i = pd.read_csv('names/yob{}.txt'.format(i), names=cols)
            suff = [n, index]
            temp = pd.merge(df, df_i, on=['Name', 'Gender'], suffixes=suff)
            df = temp
            df['Total'] += df['Count{}'.format(m)]
            n += 1
            m += 2
            
    df = df.sort_values(by='Total', ascending=False)

    return df.head(3)

In [4]:
count_top3([1900, 1950, 2000])

        Name Gender  Count0   Total  Count1  Count
1147   James      M    7245  111489   86266  17978
1145    John      M    9829  109360   79447  20084
1150  Robert      M    3821  101145   83590  13734

In [5]:
# task 2

In [6]:
def count_dynamics(args):
    cols = ['Name', 'Gender', 'Count']
    total = {'F': [], 'M': []}
    for i in args:
        df = pd.read_csv('names/yob{}.txt'.format(i), names=cols)
        df_f = df.query('Gender == "F"')
        df_m = df.query('Gender == "M"')
        total['F'].append(df_f['Count'].sum())  
        total['M'].append(df_m['Count'].sum())
    
    return total

In [7]:
count_dynamics([1900, 1950, 2000])

{'F': [299822, 1713450, 1814738], 'M': [150490, 1791474, 1962556]}